@using Spire.Doc.Documents;
@using Spire.Doc.Fields;

@{
    ViewData["Title"] = "Edit Link";
}

<head>
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/toggleButton.css" rel="stylesheet" />
</head>
<body>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Document" asp-action="Index">Добавление ссылки и закладки</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Document" asp-action="UsingHypertext">Использование гипертекста</a>
                        </li>
                    </ul>
                </div>

                <button id="changeColorButton" class="btn-secondmenu">Button</button>
                <select name="colors" id="changeColorSelect">
                    <option value="#FFFAFA">Snow</option>
                    <option value="#F0FFF0" selected="selected">Honeydew</option>
                    <option value="#FFFFFF">White</option>
                    <option value="#DEB887">BurlyWood</option>
                </select>
            </div>
        </nav>
    </header>
    <style>

        #maincontainer {
            /*width: 100%;*/
            height: 100%;
            margin: 0px;
        }

            #maincontainer > div {
                border: 1px double black;
                display: inline-block;
                height: 100%;
                text-align: right;
            }

        .conteiner {
            margin: 0px;
        }
    </style>

    <div>
        <h2 id="hyperlinks" style="
    margin-top: 100px;
">
            Тектовые гиперссылки
        </h2>
        <div id="maincontainer">
            <div id="leftcolumn">
                <table border="1" style="
    width: 100%;
">

                    @for (int i = 0; i < ViewBag.Hyperlinks.Count; i++)
                    {
                        var image = ViewBag.Hyperlinks[i].Separator.NextSibling;
                        if (image.DocumentObjectType == DocumentObjectType.Picture)
                        {
                            <tr>
                                <td>
                                    <img width='200px' height='200px' src='data:image/jpeg;base64,@Convert.ToBase64String(image.ImageBytes)' />
                                    <br />
                                    <p>@ViewBag.Hyperlinks[i].Code</p>
                                </td>
                                <td width="40px">
                                    <form asp-action="UpdateHyperlink" asp-controller="Document" method="post" enctype="multipart/form-data">
                                        <label for="image">
                                            Фото:
                                            <input type="file" id="image" name="image" />
                                        </label>
                                        <input type="number" name="index" hidden value=@i />

                                        <button>Редактировать картинку</button>
                                    </form>

                                </td>
                                <td width="40px">
                                    <form asp-action="UpdateHyperlink" asp-controller="Document" method="post">
                                        <input type="text" name="hypertext" />
                                        <input type="number" name="index" hidden value=@i />

                                        <button>Редактировать текст</button>
                                    </form>

                                </td>
                                <td>
                                    @Html.ActionLink("Удалить", "DeleteHyperlink", new { index = i })
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td width="80px">@ViewBag.Hyperlinks[i].FieldText - @ViewBag.Hyperlinks[i].Code</td>
                                <td width="40px">
                                    <form asp-action="UpdateHyperlink" asp-controller="Document" method="post">
                                        <input type="text" name="hypertext" />
                                        <input type="number" name="index" hidden value=@i />

                                        <button>Редактировать</button>
                                    </form>

                                </td>
                                <td>
                                    @Html.ActionLink("Удалить", "DeleteHyperlink", new { index = i })
                                </td>
                            </tr>
                        }
                    }

                </table>
            </div>


            <h2>Текстовые закладки</h2>
            <div id="text_wrapper">
                <table border="1" style="
    width: 100%;
">
                    @for (int i = 0; i < ViewBag.Bookmarks.Count; i++)
                    {
                        var bookmark = ViewBag.Bookmarks[i].Item1;
                        var text = ViewBag.Bookmarks[i].Item2;
                        <tr>
                            <td>@bookmark.Name</td>
                            <td width="400px">@text</td>
                            <td width="40px">
                                <form asp-action="UpdateBookmark" asp-controller="Document" method="post">
                                    <input type="text" name="text" style="
    height: 200px;
" />
                                    <input type="text" name="bookmark" hidden value="@bookmark.Name" />

                                    <button>Редактировать</button>
                                </form>
                            </td>
                            <td>
                                @Html.ActionLink("Удалить", "DeleteBookmark", new { bookmark = bookmark.Name })
                            </td>
                        </tr>

                    }
                </table>
            </div>

            <h2>Закладки к изображению</h2>
            <div id="image_wrapper">
                <table border="1" style="
    width: 100%;
">
                    @for (int i = 0; i < ViewBag.ImageBookmarks.Count; i++)
                    {
                        var bookmark = ViewBag.ImageBookmarks[i].Item1;
                        var image = ViewBag.ImageBookmarks[i].Item2;
                        <tr>
                            <td>@bookmark.Name</td>
                            <td><img width='200px' height='200px' src='data:image/jpeg;base64,@Convert.ToBase64String(image)' /></td>
                            <td width="40px">
                                <form asp-action="UpdateBookmark" asp-controller="Document" method="post" enctype="multipart/form-data">
                                    <label for="image">
                                        Фото:
                                        <input type="file" id="image" name="image" />
                                    </label>
                                    <input type="text" name="bookmark" hidden value="@bookmark.Name" />
                                    <button>Редактировать картинку</button>
                                </form>
                            </td>
                            <td>
                                @Html.ActionLink("Удалить", "DeleteBookmark", new { bookmark = bookmark.Name })
                            </td>
                        </tr>

                    }
                </table>
            </div>



            <h2>Гиперссылки к изображению</h2>
            <div id="contentwrapper">
                <table border="1" style="
    width: 100%;
">
                    @for (int i = 0; i < ViewBag.Images.Count; i++)
                    {
                        <tr>
                            <td><img width='400px' height='300px' src='data:image/jpeg;base64,@Convert.ToBase64String(ViewBag.Images[i].ImageBytes)' /></td>
                            <td width="40px">
                                <form asp-action="CreateHyperlinkForExistingImage" asp-controller="Document" method="post">
                                    <input type="text" name="hypertext" />
                                    <input type="hidden" name="index" value="@i" />
                                    <button>Добавить гиперссылку</button>
                                </form>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>

    </div>


</body>


@*var nextSibling = ViewBag?.Bookmarks[i].NextSibling;
    if (nextSibling != null && nextSibling.DocumentObjectType == DocumentObjectType.Picture)
    {

            <tr>
                <td><img width='200px' height='200px' src='data:image/jpeg;base64,@Convert.ToBase64String(nextSibling.ImageBytes)' /></td>
                <td width="40px">
                    <form asp-action="UpdateBookmark" asp-controller="Document" method="post" enctype="multipart/form-data">
                        <label for="image">
                            Фото:
                            <input type="file" id="image" name="image" />
                        </label>
                        <input type="text" name="bookmark" hidden value="@ViewBag.Bookmarks[i].Name" />
                        <button>Редактировать картинку</button>
                    </form>
                </td>
                <td>
                    @Html.ActionLink("Удалить", "DeleteBookmark", new { bookmark = ViewBag.Bookmarks[i].Name })
                </td>
            </tr>

    }
    else if (nextSibling != null && nextSibling.DocumentObjectType == DocumentObjectType.TextRange)
    {
         <tr>
             <td>@ViewBag.Bookmarks[i].Name</td>
             <td width="40px">
                 <form asp-action="UpdateBookmark" asp-controller="Document" method="post">
                     <input type="text" name="text" />
                     <input type="text" name="bookmark" hidden value="@ViewBag.Bookmarks[i].Name" />

                     <button>Редактировать</button>
                 </form>
             </td>
             <td>
                 @Html.ActionLink("Удалить", "DeleteBookmark", new { bookmark = ViewBag.Bookmarks[i].Name })
             </td>
         </tr>

    }*@