@using Spire.Doc.Documents;

@{
    ViewData["Title"] = "Privacy Policy";
}

<head>

</head>
<body>
    <style>

        #maincontainer {
            width: 100%;
            height: 100%;
            text-align: center;
        }

        #leftcolumn {
            border: 1px double black;
            float: left;
            display: inline-block;
            /*width: 40%;*/
            height: 100%;
        }

        #contentwrapper {
            border: 1px double black;
            float: right;
            display: inline-block;
            /*width: 40%;*/
            height: 100%;
        }
    </style>
    <div>
        <h1>Здесь вы можеет редактировать ссылки и закладки.</h1>

        <div id="maincontainer">
            <div id="leftcolumn">
                <table border="1">

                    @for (int i = 0; i < ViewBag.Hyperlinks.Count; i++)
                    {
                        <tr>
                            <td width="80px">@ViewBag.Hyperlinks[i].FieldText - @ViewBag.Hyperlinks[i].Code</td>
                            <td width="40px">
                                <form asp-action="UpdateHyperlink" asp-controller="Home" method="post">
                                    <input type="text" name="hypertext" />
                                    <input type="number" name="index" hidden value=@i />

                                    <button>Редактировать</button>
                                </form>

                            </td>
                            <td>
                                @Html.ActionLink("Удалить", "DeleteHyperlink", new { index = i })
                            </td>
                        </tr>
                    }

                </table>
            </div>

            <div id="contentwrapper">
                <table border="1">
                    @for (int i = 0; i < ViewBag.Bookmarks.Count; i++)
                    {
                    <tr>

                        @{
                            var nextSibling = ViewBag.Bookmarks[i].BookmarkStart.Owner.NextSibling;
                            if (nextSibling != null)
                            {
                                var firstChild = nextSibling.FirstChild;
                                if (firstChild.DocumentObjectType == DocumentObjectType.Picture)
                                {
                                    <td><img width='200px' height='200px' src='data:image/jpeg;base64,@Convert.ToBase64String(firstChild.ImageBytes)' /></td>
                                }
                                else
                                {
                                    <td>@ViewBag.Bookmarks[i].BookmarkStart.Owner.Text</td>
                                }
                            }
                        }

                        <td width="40px">
                            <form asp-action="UpdateBookmark" asp-controller="Home" method="post">
                                <input type="text" name="text" />
                                <input type="text" name="bookmark" hidden value="@ViewBag.Bookmarks[i].Name" />

                                <button>Редактировать</button>
                            </form>
                        </td>
                        <td>
                            @Html.ActionLink("Удалить", "DeleteBookmark", new { index = ViewBag.Bookmarks[i].Name })
                        </td>
                    </tr>
                  }
                </table>
            </div>
        </div>

    </div>
</body>
